@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Bienvenido al sistema de préstamos</h2>

<p>
    <a asp-page="/Usuarios/Login">Iniciar sesión</a> |
    <a asp-page="/Usuarios/Registro">Registrarse</a>
</p>
